# Outlaws (reimplementation) settings
win_w = 800
win_h = 600
fullscreen = 0
vol_master = 80
vol_movie = 80
vol_effects = 80
vol_taunts = 80
vol_music = 80
difficulty = 1
mouse_enabled = 1
mouse_sensitivity = 1.000
mouse_invert = 0
player_name = Player
bind_forward = W
bind_back = S
bind_strafe_left = A
bind_strafe_right = D
bind_turn_left = Left
bind_turn_right = Right
bind_look_up = PageUp
bind_look_down = PageDown
bind_run = Left Shift
bind_crouch = Left Ctrl
bind_jump = Space
bind_use = E
bind_reload = R
bind_map = Tab
bind_scope = V
bind_next_weapon = =
bind_prev_weapon = -
bind_weapon_1 = 1
bind_weapon_2 = 2
bind_weapon_3 = 3
bind_weapon_4 = 4
bind_weapon_5 = 5
bind_weapon_6 = 6
bind_weapon_7 = 7
bind_weapon_8 = 8
bind_weapon_9 = 9
